.classpath
.project
GetAggregatedObservations-schemas/.settings
GetAggregatedObservations-schemas/target
GetAggregatedObservations-teststub/target
GetAggregatedObservations/target
GetAggregatedObservations-teststub/.settings
target
GetAggregatedObservations/.settings
